In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("spotify_millsongdata.csv")

In [41]:
df.head(7)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,/a/abba/burning+my+bridges_20003011.html,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,/a/abba/cassandra_20002811.html,Down in the street they're all singing and sho...

In [42]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [72]:
df.shape

(5000, 3)

In [44]:
df.shape

(57650, 4)

In [45]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True) # axis=1 says that link is the column just like index, reset_index() is called to reset the index of the DataFrame, the old index is discarded  Instead, a new sequential index starting from 0 is created.

In [70]:
df.shape
df.head(7)

,artist,song,text
0,Clash,Stop The World,the panorama of the city is wrong \r in fact ...
1,Marillion,The Great Escape,heading for the great escape \r heading for t...
2,W.A.S.P.,Scream Until You Like It,scream until you like it \r \r come on in! ...
3,Bob Dylan,It Hurts Me Too,"so run here baby, put your little hands in min..."
4,Depeche Mode,Heaven II,sometimes i slide away \r silently \r i slow...
5,Gary Valenciano,Could You Be Messiah,[verse 1] \r could you be healer \r to a hea...
6,Electric Light Orchestra,In Old England Town,"down, down, you can see them all \r rising ga..."

In [47]:
df['text'][7]

'(Yea) This is my story, yeah, I\'m from that Chi-town dirt  \r\nI went from being broke to sleeping in Versace shirts  \r\n(Yea) This is my story, money, cars, bad hoes  \r\nThis is my story eh-eh-eh-eh-eh-eh-eh-eh  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\n  \r\nCame from humble beginnings now I\'m cocky with my spending  \r\nThey say "life is just a game" and I thank God that I\'m winning  \r\nModels roll my indo, I beat the pussy, Django  \r\nThem niggas talking money, I got more digits in my gate code  \r\nShe make a pole disappear like hocus pocus (Hocus pocus, pocus)  \r\nYou\'re ain\'t never gon\' find another nigga this focused (Focused)  \r\nI got every block, every street corners sold up (Up)  \r\nWhatever club represent my city, throw it up (Up)  \r\nI own the game, coach slash player sho \'nough  \r\nOkay, haters forfeited never showed up, yup  \r\n  \r\nThis is my story, yeah, I\'m from that Chi-town dirt  \r\nI went from being broke to sleeping in Versace shirts  \r\nThis is my story, money, cars, bad hoes  \r\nThis is my story eh-eh-eh-eh-eh-eh-eh-eh  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\n(Yea) And I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\n(2 Chainz) And I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it  \r\n  \r\nVelcro, I\'m sticking to it, hatin\', I\'ve been a victim to it  \r\nYour conversation is sanitation, ain\'t no hesitation when I finna do it  \r\nI stick it in (Uh) switch it up and try to hit a friend (Uh)  \r\nLive it up and count my dividends, roll, like cinnamon  \r\nWhoa, big face Benjamin\'s  \r\nAnd she looked at me like you ain\'t nothin\' but a star  \r\nI looked at her like this ain\'t nothin\' but a car  \r\nIf you ride with them you ain\'t going that far  \r\nBut if you ride with me (Me)  \r\nCrib so big we can play hide-and-seek (Play hide-and-seek)  \r\nYou can confide to me, ride me like I ride the beat  \r\nPilot seat, I need a co-pilot (Tell \'em), kiss a ass in both mouths (Tru)  \r\nYeah I\'m talking both lips, what you know \'bout boat trips?  \r\nDrop her ass at the Chocolate Factory (Chocolate Factory)  \r\n(Yeah) We did them 12 Play\'s  \r\n(Yeah) And you know who you is girl,  \r\nWe been fuckin\' since the 12th grade, goddamn (Goddamn)  \r\n  \r\nThis is my story, yeah I\'m from that Chi-town dirt  \r\nI went from being broke to sleeping in Versace shirts  \r\nThis is my story, money, cars, bad hoes  \r\nThis is my story eh-eh-eh-eh-eh-eh-eh-eh  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it  \r\n  \r\nPull up to the club at about three (Uh huh)  \r\nI\'m killin\' it, guilty no plea (Uh huh)  \r\nI\'m leaving out at 6 with a dime piece  \r\nBy 9 o\'clock, we on round three  \r\nI speak of rain they say I\'m crazy like they didn\'t know  \r\nSee I\'m not crazy but my talent, man, got bipolar  \r\nSay she\'s a church girl but man she\'s blowing holy smokes  \r\nShowed her the Jesus piece now she got the Holy Ghost  \r\nThey asked \'em in a interview, "Why do he love these girls?"  \r\nThe only thing he had to say was, "Motherfuck the world!"  \r\n  \r\nThis is my story, yeah I\'m from that Chi-town dirt  \r\nI went from being broke to sleeping in Versace shirts  \r\nThis is my story, money, cars, bad hoes  \r\nThis is my story eh-eh-eh-eh-eh-eh-eh-eh  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it (Uh huh)  \r\nAnd I\'m, stickin\', to it\r\n\r\n'

In [71]:
df.shape

(5000, 3)

In [48]:
df.shape

(5000, 3)

Text Cleaning / Text Processing

In [49]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True) #regex=True parameter indicates that the pattern should be treated as a regular expression.

In [50]:
df['text']

0       the panorama of the city is wrong  \r in fact ...
1       heading for the great escape  \r heading for t...
2       scream until you like it  \r   \r come on in! ...
3       so run here baby, put your little hands in min...
4       sometimes i slide away  \r silently  \r i slow...
                              ...
4995    here she come down, say "money, money"  \r wel...
4996    when i was a little girl, i had a rag-doll  \r...
4997    the streets were deserted though the police we...
4998    i just thought you'd like to know  \r since yo...
4999    [intro]  \r anyone whose lived around these pa...
Name: text, Length: 5000, dtype: object

In [51]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer #nltk- natural language processing and stemmer is used to convert run running runs in same word as run

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [52]:
stemmer = PorterStemmer()

In [53]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [54]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [55]:
df['text'].apply(lambda x : token(x))

0       the panorama of the citi is wrong in fact the ...
1       head for the great escap head for the rave hea...
2       scream until you like it come on in ! ha ha ha...
3       so run here babi , put your littl hand in mine...
4       sometim i slide away silent i slowli lose myse...
                              ...
4995    here she come down , say `` money , money '' w...
4996    when i wa a littl girl , i had a rag-dol the o...
4997    the street were desert though the polic were a...
4998    i just thought you 'd like to know sinc you 'd...
4999    [ intro ] anyon whose live around these part ,...
Name: text, Length: 5000, dtype: object

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import  cosine_similarity

In [57]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words='english')#convert text into vector

In [58]:
tfid.fit_transform(df['text'])

<5000x23466 sparse matrix of type '<class 'numpy.float64'>'
	with 266177 stored elements in Compressed Sparse Row format>

In [59]:
matrix = tfid.fit_transform(df['text'])

In [60]:
similar = cosine_similarity(matrix)

In [61]:
similar[0]

array([1.        , 0.03072498, 0.02379157, ..., 0.02788485, 0.00184366,
       0.00343688])

In [63]:
df[df['song'] == 'Heaven II'].index[0]

4

Recomender Function

In [ ]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    #calculating the distance
    distance = sorted(list(enumerate(similar[idx])),reverse= True ,key=lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [64]:
recommender('Heaven II')

['Joy To The World', 'Our Love', 'Heaven Bound', "Heaven's What I Feel"]

In [65]:
import pickle

In [66]:
pickle.dump(similar,open("similarity","wb"))

In [67]:
pickle.dump(df,open("df","wb"))