In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("spotify_millsongdata.csv")

In [27]:
df.head(7)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,/a/abba/burning+my+bridges_20003011.html,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,/a/abba/cassandra_20002811.html,Down in the street they're all singing and sho...

In [28]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [29]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
df.shape

In [ ]:
df = df.drop('link',axis=1).reset_index(drop=True) # axis=1 says that link is the column just like index, reset_index() is called to reset the index of the DataFrame, the old index is discarded  Instead, a new sequential index starting from 0 is created.

In [ ]:
df.head(7)

In [ ]:
df['text'][7]

In [ ]:
df = df.sample(5000)

In [ ]:
df.shape

Text Cleaning / Text Processing

In [ ]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True) #regex=True parameter indicates that the pattern should be treated as a regular expression.

In [ ]:
df['text']

In [ ]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer #nltk- natural language processing and stemmer is used to convert run running runs in same word as run

In [ ]:
stemmer = PorterStemmer()

In [ ]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [31]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [30]:
df['text'].apply(lambda x : token(x))

0        look at her face , it 's a wonder face and it ...
1        take it easi with me , pleas touch me gentli l...
2        i 'll never know whi i had to go whi i had to ...
3        make somebodi happi is a question of give and ...
4        make somebodi happi is a question of give and ...
                               ...
57645    iri day come on play let the angel fli let the...
57646    power to the worker more power power to the wo...
57647    all you need is someth i 'll believ flashlight...
57648    northern star am i frighten where can i go to ...
57649    come in make yourself at home i 'm a bit late ...
Name: text, Length: 57650, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import  cosine_similarity

In [34]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words='english')

In [35]:
tfid.fit_transform(df['text'])

<57650x82077 sparse matrix of type '<class 'numpy.float64'>'
	with 3095478 stored elements in Compressed Sparse Row format>

In [36]:
matrix = tfid.fit_transform(df['text'])

In [37]:
cosine_similarity(matrix)

MemoryError: Unable to allocate 22.8 GiB for an array with shape (3065353040,) and data type int64